@model PluralSightMVC.Models.ResturantReview

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<!--<h3>@ViewBag.Location</h3>-->

<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>


<div>
 
 

 <h5>Name: @Model.Name :: Rating: @Model.Rating</h5>
 


</div>